<div class="footerContainer">
  <h3 (click)="goToTop()">Go to Top</h3>
  <div class="footerWrapper">
    <div class="singleFooter">
      <span class="singleFooterItem"> single footer </span>
      <span class="singleFooterItem"> single footer </span>
      <span class="singleFooterItem"> single footer </span>
      <span class="singleFooterItem"> single footer </span>
    </div>
    <div class="singleFooter">
      <span class="singleFooterItem"> single footer </span>
      <span class="singleFooterItem"> single footer </span>
      <span class="singleFooterItem"> single footer </span>
      <span class="singleFooterItem"> single footer </span>
    </div>
    <div class="singleFooter">
      <span class="singleFooterItem"> single footer </span>
      <span class="singleFooterItem"> single footer </span>
      <span class="singleFooterItem"> single footer </span>
      <span class="singleFooterItem"> single footer </span>
    </div>
    <div class="singleFooter">
      <span class="singleFooterItem"> single footer </span>
      <span class="singleFooterItem"> single footer </span>
      <span class="singleFooterItem"> single footer </span>
      <span class="singleFooterItem"> single footer </span>
    </div>
  </div>
</div>
