<div class="addressFormContainer">
  <div class="addressFormWrapper">
    <h3>Add new Address</h3>
    <span class="addressFormItem">
      <label for="coutry">coutry:</label>
      <select name="country" id="country">
        <option value="">Select Country</option>
        <option value="India">India</option>
        <option value="Afghanistan">Afghanistan</option>
        <option value="Albania">Albania</option>
        <option value="Algeria">Algeria</option>
        <option value="Andorra">Andorra</option>
        <option value="Angola">Angola</option>
        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
        <option value="United States">United States</option>
        <option value="Uruguay">Uruguay</option>
        <option value="Uzbekistan">Uzbekistan</option>
        <option value="Vanuatu">Vanuatu</option>
        <option value="Vatican City">Vatican City</option>
        <option value="Venezuela">Venezuela</option>
        <option value="Zambia">Zambia</option>
        <option value="Zimbabwe">Zimbabwe</option>
      </select>
    </span>
    <span class="addressFormItem">
      <label for="name">full name:</label>
      <input type="text" name="name" />
    </span>
    <span class="addressFormItem">
      <label for="mobileNumber">mobile number:</label>
      <input type="text" name="mobileNumber" />
    </span>
    <span class="addressFormItem">
      <label for="pincode">pincode:</label>
      <input type="text" name="pincode" />
    </span>
    <span class="addressFormItem">
      <label for="House No">House No:</label>
      <input type="text" name="House No" />
    </span>
    <span class="addressFormItem">
      <label for="landmark">landmark:</label>
      <input type="text" />
    </span>
    <span class="addressFormItem">
      <span class="cityAndState">
        <span class="city">
          <label for="city">city:</label>
          <input type="text" />
        </span>
        <span class="state">
          <label for="state">State:</label>
          <select name="state" id="state">
            <option value="">Select State</option>
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chhattisgarh">Chhattisgarh</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Kerala">Kerala</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Manipur">Manipur</option>
            <option value="Meghalaya">Meghalaya</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Nagaland">Nagaland</option>
            <option value="Odisha">Odisha</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Telangana">Telangana</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttarakhand">Uttarakhand</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="West Bengal">West Bengal</option>
            <option value="Andaman and Nicobar Islands">
              Andaman and Nicobar Islands
            </option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Dadra and Nagar Haveli">
              Dadra and Nagar Haveli
            </option>
            <option value="Daman and Diu">Daman and Diu</option>
            <option value="Lakshadweep">Lakshadweep</option>
            <option value="Delhi">Delhi</option>
            <option value="Puducherry">Puducherry</option>
          </select>
        </span>
      </span>
    </span>
    <span class="addressFormItem">
      <button>add address</button>
    </span>
  </div>
</div>
