<div class="singleProductContainer">
  <div class="imgContainer">
    <div class="images">
      @for (item of product?.img; track $index) {
      <div
        class="singleImage"
        [ngStyle]="{ 'border-color': item === currImg ? 'skyblue' : '#ccc' }"
        (click)="setCurrentImg(item)"
      >
        <img [src]="item" alt="imgErr" />
      </div>
      }

      <div class="currImg">
        <img [src]="currImg" alt="imgErr" />
      </div>
    </div>
    <div class="productInfo">
      <span class="title"> {{ product?.title }}</span>
      <span class="desc"> {{ product?.desc }} </span>
      <span class="price">Price: $ {{ product?.price }} </span>
    </div>
    <div class="shippingInfo">
      <div class="addressInfo">
        <span>Mohali, punjab</span>
      </div>
      <div class="buyOptions">
        <span class="quantity">
          Quantity:
          <select name="quantity" id="quantity" (change)="setQuantity($event)">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </span>
        <button class="addToCart" (click)="addToCart()">Add to Cart</button>
        <button class="addToWishlist">Add to Wishlist</button>
      </div>
    </div>
  </div>
</div>
