<div class="productScrollerContainer">
  <h3>Filter for You</h3>
  <div class="producScrollerWrapper">
    <!-- <app-single-scroller-product></app-single-scroller-product> -->
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <ng-container>
        @for (slide of slides; track slide.img[0]) {
        <div ngxSlickItem class="slide">
          <app-single-scroller-product
            [routerLink]="'/products/' + slide?._id"
            [img]="slide.img[0]"
            [title]="slide.title"
            [price]="slide.price"
          ></app-single-scroller-product>
        </div>
        }
      </ng-container>
    </ngx-slick-carousel>

    <div class="buttons">
      <button
        mat-mini-fab
        extended
        (click)="slickModal.slickPrev()"
        style="z-index: 99999"
      >
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-mini-fab extended (click)="slickModal.slickNext()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
