<div class="headerContainer">
  <div class="logo" [routerLink]="'/'">
    <img src="../../assets/header/logo.png" alt="imgErr" />
  </div>
  <div class="search">
    <input type="text" placeholder="Search Here" />
    <button>Search</button>
  </div>
  <div class="navLinks">
    <ul>
      <li (click)="showDropDown()" [routerLink]="username ? '/' : '/login'">
        {{ username || "Login" }}
      </li>
      <li routerLink="/address">Address</li>
      <li routerLink="/carts">
        Cart @if (cartCounter> 0) {

        <span class="cartCounter">{{ cartCounter }}</span>
        }
      </li>
      <li routerLink="/orders">Orders</li>
    </ul>
    @if (DropDown) {

    <div class="headerDropDown">
      <span>Address</span>
      <span>Wishlists</span>
      <span routerLink="/orders">Orders</span>
      <span>
        <button (click)="logout()">Logout</button>
      </span>
    </div>
    }
  </div>
</div>
